<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.helloeating.login.mapper.MemberMapper">
 
    <select id="TESTCount" resultType="int">
        SELECT
            COUNT(*)
        FROM TEST
    </select>
    
    <insert id="InsertMember">
    	<selectKey resultType="int" keyProperty="num" order="BEFORE">
    		SELECT IFNULL(MAX(MEMBER_NO), 0) + 1 FROM MEMBER
    	</selectKey> 
    	INSERT INTO MEMBER 
    				(MEMBER_NO, ID, PASSWORD, NICKNAME, JOIN_DATE, LAST_LOGIN, APP_VERSION, DEVICE_TOKEN, OS_TYPE) 
    				VALUES (#{num}, #{member_id}, #{member_nickname}, #{member_password}, NOW(), NOW(), #{app_version}, #{device_token}, #{os_type})
    </insert>
    
    <select id="list" resultType="java.util.HashMap">
    	SELECT * FROM MEMBER WHERE ID = #{ID}
    </select>
    
    <select id="user_login" resultType="int">
    	SELECT GET_HE_USEREXIST (#{id}, #{password})
    </select>
    <select id="token_login" resultType="int">
    	SELECT GET_HE_USEREXIST2 (#{id}, #{loginToken})
    </select>
    
    <update id="update_logintoken">
    	UPDATE MEMBER SET LOGIN_TOKEN = #{login_token} WHERE ID = #{id}
    </update>
    
</mapper>